<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
</head>
<div class="nav" th:fragment="menu">
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding "
         style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
        <a href="javascript:void(0)" onclick="w3_close()"
           class="w3-button w3-hide-large w3-display-topleft w3-hover-white"
           style="width:100%;font-size:22px">Close Menu</a>
        <div class="w3-container w3-padding-64">
            <a style="text-decoration: none" th:href="@{/main}">
                <h3 class=""><b>BELARUS<br>AIR</b></h3>
            </a>
        </div>
        <div class="w3-bar-block">
            <a th:href="@{/main}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/admin}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Admin work</a>
            </div>
            <div sec:authorize="hasAnyRole('ADMIN')">
                <a th:href="@{/admin/myAdminInfo}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">My Info</a>
            </div>
            <div sec:authorize="hasAnyRole('USER')">
                <a th:href="@{/myUserInfo}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">My Info</a>
            </div>
            <div sec:authorize="hasRole('USER')">
                <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">My Ticket</a>
            </div>
            <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About</a>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">LogIn</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">LogOut</a>
            </div>
        </div>
    </nav>
    <!-- Top menu on small screens -->
    <div class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right w3-hover-white" onclick="w3_open()">☰</a>
        <span>BELARUS AIR</span>
    </div>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
         id="myOverlay"></div>
</div>
</html>