<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
<!-- menu -->
<th:block th:insert="fragments/menu.html :: menu"/>
<!-- !PAGE CONTENT! -->
<header class="w3-main">
    <!-- Header -->
    <div class="w3-container w3-center">
        <h1 class="w3-text-white "><b>Choose what to work with</b></h1>
    </div>
    <div class="w3-half ">
        <div class="w3-half w3-center w3-padding-large">
            <div class="w3-card-4 w3-khaki">
                <h3>AIRPLANES</h3>
                <p>Create, delete, edit airplane </p>
                <p><a th:href="@{/airplanes}" class="w3-button w3-white w3-block">WORK</a></p>
            </div>
        </div>
        <div class="w3-half w3-center w3-padding-large">
            <div class="w3-card-4 w3-khaki">
                <h3>ROUTES</h3>
                <p>Create, delete, edit route </p>
                <p><a th:href="@{/routes}" class="w3-button w3-white w3-block">WORK</a></p>
            </div>
        </div>
    </div>
    <div class="w3-half w3-center">
        <div class="w3-half w3-padding-large">
            <div class="w3-card-4 w3-khaki">
                <h3>TICKETS</h3>
                <p>Create, delete, edit ticket </p>
                <p><a th:href="@{/tickets}" class="w3-button w3-white w3-block">WORK</a></p>
            </div>
        </div>
        <div class="w3-half w3-center w3-padding-large">
            <div class="w3-card-4 w3-khaki">
                <h3>SCHEDULES</h3>
                <p>Create, delete, edit schedule</p>
                <p><a th:href="@{/schedules}" class="w3-button w3-white w3-block">WORK</a></p>
            </div>
        </div>
    </div>
    <div>
        <div class="w3-half w3-center w3-padding-large">
            <div class="w3-card-4 w3-khaki">
                <h3>USERS</h3>
                <p>Create, delete, edit user </p>
                <p><a th:href="@{/users}" class="w3-button w3-white w3-block">WORK</a></p>
            </div>
        </div>
        <div class="w3-half w3-center w3-padding-large">
            <div class="w3-card-4 w3-khaki">
                <h3>ADMINS</h3>
                <p>Create, delete, edit admin </p>
                <p><a th:href="@{/admins}" class="w3-button w3-white w3-block">WORK</a></p>
            </div>
        </div>
    </div>


</header>

<th:block th:insert="fragments/footer.html :: footer"/>
<th:block th:insert="fragments/scripts.html :: script"/>

</body>
</html>