<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>

<body>
<th:block th:insert="fragments/menu :: menu"/>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Number</th>
        <th scope="col">Model</th>
        <th scope="col">Seats count</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>

    <tr th:each="aircraft : ${aircrafts}">
        <td th:text="${aircraft.id}"></td>
        <td th:text="${aircraft.number}"></td>
        <td th:text="${aircraft.model}"></td>
        <td th:text="${aircraft.seatsCount}"></td>
        <td><a class="btn btn-danger"
               th:href="@{/aircraft/{id}/delete(id=${aircraft.id})}">Delete</a>
            <a class="btn btn-danger"
               th:href="@{/aircraft/{id}/edit(id=${aircraft.id})}">Edit</a>
        </td>
    </tr>
</table>
<form th:action="@{/aircraft/add-aircraft/}" method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" name="number" placeholder="Number"/>
        </div>
        <div class="col">
            <input type="text" class="form-control" name="model" placeholder="Model"/>
        </div>
        <div class="col">
            <input type="text" class="form-control" name="seatsCount" placeholder="Seats Count"/>
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">ADD</button>
</form>
</body>
</html>