<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
<!-- menu -->
<th:block th:insert="fragments/menu.html :: menu"/>
<!-- !PAGE CONTENT! -->
<header class="w3-main">
    <!-- Header -->
    <div class="w3-container w3-center" style=" background-color: rgba(255,255,255, 0.5);">
        <h1 class="w3-text-red"><b>EXCEPTION</b></h1>
    </div>
    <div class="w3-container w3-center" style=" background-color: rgba(255,255,255, 0.5);">
        <h2><span th:text="${message}"></span></h2>
    </div>


</header>

<th:block th:insert="fragments/footer.html :: footer"/>
<th:block th:insert="fragments/scripts.html :: script"/>

</body>
</html>