<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>

<!-- menu -->
<th:block th:insert="fragments/menu.html :: menu"/>


<!-- !PAGE CONTENT! -->
<header class="w3-main">

    <!-- Header -->
    <div class="w3-container" id="showcase">
        <h1 class="w3-jumbo w3-text-white"><b>FIND YOUR WAY</b></h1>
    </div>

    <!-- Form for search -->
    <form  th:action="@{/search}" method="GET">
        <div class="w3-container  w3-padding-16">
            <h3 class="w3-margin-bottom"><b>Flight search</b></h3>
            <div class="w3-row-padding" style="margin:0 -16px;">
                <div class="w3-half ">
                    <label><b>FROM</b></label>
                    <input class="w3-input w3-border w3-round-large"
                           type="text" name="cityFrom" placeholder="FROM">
                </div>
                <div class="w3-half">
                    <label><b>TO</b></label>
                    <input class="w3-input w3-border w3-round-large"
                           type="text" name="cityTo" placeholder="TO">
                </div>
                <div class="w3-half">
                    <label><b>DATE</b></label>
                    <input class="w3-input w3-border w3-round-large"
                           type="date" th:min="${#dates.format(dateNow, 'yyyy-MM-dd')}" name="startFlight">
                </div>
                <div class="w3-half">
                    <label><b>PASSENGERS</b></label>
                    <input class="w3-input w3-border w3-round-large"
                           type="number" min="1" max="4" name="passengersCount" placeholder="PASSENGERS"
                          th:default="1" th:value="1">
                </div>
            </div>
            <p>
                <button class="w3-button w3-black w3-hover-red w3-round-large w3-right " type="submit" >
                    Search and find dates
                </button>
            </p>
        </div>
    </form>

</header>

<th:block th:insert="fragments/footer.html :: footer"/>
<th:block th:insert="fragments/scripts.html :: script"/>

</body>
</html>