<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>

<body>
<th:block th:insert="fragments/menu :: menu"/>

<header class="w3-main">

    <div class="w3-container w3-center" id="showcase">
        <h1 class="w3-text-white"><b>WORKING WITH ROUTES</b></h1>
        <br>
    </div>

    <div class="w3-row">

        <div class="w3-container w3-twothird">
            <h2><b>Our routes:</b></h2>
            <!-- Table -->
            <div class="w3-responsive w3-round-large w3-centered">
                <table class="w3-table w3-striped w3-bordered w3-white w3-card-4 w3-hoverable w3-centered">
                    <thead>
                    <tr style="background-color: #f5812c">
                        <th>Id</th>
                        <th>City From</th>
                        <th>City To</th>
                        <th>Price</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tr th:each="route : ${routes}">
                        <td th:text="${route.getId()}"></td>
                        <td th:text="${route.getCityFrom()}"></td>
                        <td th:text="${route.getCityTo()}"></td>
                        <td th:text="${route.getPrice()}"></td>
                        <td><a class="w3-button w3-black w3-hover-blue w3-round-large w3-tiny w3-padding-small"
                               th:href="@{/admin/route/{id}/delete(id=${route.id})}">Delete</a>
                            <a class="w3-button w3-black w3-hover-blue w3-round-large w3-tiny w3-padding-small"
                               th:href="@{/admin/route/{id}/edit(id=${route.id})}">Edit</a>
                        </td>
                    </tr>
                </table>

                <div th:if="${totalPages != 0}" class="w3-center w3-bar w3-border w3-white">
                    Page:
                    <span th:each="i: ${#numbers.sequence(1,totalPages)}">
                        <a class="w3-button" th:if="${currentPage + 1 != i}"
                           th:href="@{'/admin/airplane'+'?pn='+${i}}">[[${i}]]
                        </a>
                        <span class="w3-button" style="background-color: #f5812c" th:unless="${currentPage + 1 != i}">[[${i}]]</span>
                    </span>
                </div>

            </div>
        </div>

        <div class="w3-container w3-third">
            <h2><b>FORM for create and update route:</b></h2>
            <!-- Form -->
            <form method="post" th:action="@{/admin/route/add-route}" th:if="${route.getId()==null}"
                  th:object="${route}">
                <div class="w3-container  w3-padding-16">
                    <div class="w3-row-padding">
                        <label><b>CITY FROM</b></label>
                        <div class="w3-container w3-red w3-round-large" th:if="${#fields.hasErrors('cityFrom')}"
                             th:errors="*{cityFrom}">Name Error
                        </div>
                        <input class="w3-input w3-border w3-round-large"
                               type="text" name="cityFrom" th:field="*{cityFrom}" placeholder="CITY FROM"/>

                        <label><b>CITY TO</b></label>
                        <div class="w3-container w3-red w3-round-large" th:if="${#fields.hasErrors('cityTo')}"
                             th:errors="*{cityTo}">Name Error
                        </div>
                        <input class="w3-input w3-border w3-round-large"
                               type="text" name="cityTo" th:field="*{cityTo}" placeholder="CITY TO"/>

                        <label><b>PRICE</b></label>
                        <div class="w3-container w3-red w3-round-large" th:if="${#fields.hasErrors('price')}"
                             th:errors="*{price}">Name Error
                        </div>
                        <input class="w3-input w3-border w3-round-large"
                               type="number" step="any" name="price" th:field="*{price}" placeholder="PRICE"/>
                    </div>

                    <p>
                        <button type="submit" class="w3-button w3-black w3-hover-blue w3-round-large w3-block">
                            SAVE
                        </button>
                    </p>
                </div>
            </form>

            <form method="post" th:action="@{/admin/route/{id}/update(id=${route.getId()})}"
                  th:if="${route.getId() != null}" th:object="${route}">
                <div class="w3-container  w3-padding-16">
                    <div class="w3-row-padding">

                        <label><b>CITY FROM</b></label>
                        <div class="w3-container w3-red w3-round-large" th:if="${#fields.hasErrors('cityFrom')}"
                             th:errors="*{cityFrom}">Name Error
                        </div>
                        <input class="w3-input w3-border w3-round-large"
                               type="text" name="cityFrom" th:field="*{cityFrom}"/>

                        <label><b>CITY TO</b></label>
                        <div class="w3-container w3-red w3-round-large" th:if="${#fields.hasErrors('cityTo')}"
                             th:errors="*{cityTo}">Name Error
                        </div>
                        <input class="w3-input w3-border w3-round-large"
                               type="text" name="cityTo" th:field="*{cityTo}"/>

                        <label><b>PRICE</b></label>
                        <div class="w3-container w3-red w3-round-large" th:if="${#fields.hasErrors('price')}"
                             th:errors="*{price}">Name Error
                        </div>
                        <input class="w3-input w3-border w3-round-large"
                               type="number" step="any" name="price" th:field="*{price}"/>
                    </div>
                    <p>
                        <button type="submit" class="w3-button w3-black w3-hover-blue w3-round-large w3-block">
                            UPDATE
                        </button>
                    </p>
                </div>
            </form>
        </div>

    </div>

</header>


<th:block th:insert="fragments/footer.html :: footer"/>
<th:block th:insert="fragments/scripts.html :: script"/>

</body>
</html>