<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>

<body>
<th:block th:insert="fragments/menu :: menu"/>

<header class="w3-main">

    <div class="w3-container w3-center" id="showcase">
        <h1 class="w3-text-white"><b>РАБОТА С САМОЛЕТАМИ</b></h1>
        <br>
    </div>

    <div class="w3-row">

        <div class="w3-container">
            <h2><b>All tickets:</b></h2>
            <!-- Table -->
            <div class="w3-responsive w3-round-large w3-centered">
                <table class="w3-table w3-striped w3-bordered w3-white w3-card-4 w3-hoverable w3-centered">
                    <thead>
                    <tr style="background-color: #f5812c">
                        <th>Ticket id</th>
                        <th>Passenger First Name</th>
                        <th>Passenger Last Name</th>
                        <th>Route</th>
                        <th>Date route</th>
                        <th>Date of purchase</th>
                        <th>Luggage</th>
                        <th>Priority registration</th>
                        <th>Priority boarding</th>
                        <th>Price</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${ticket.getId()}"></td>
                        <td th:text="${ticket.getUserDetailTicket().getPassengerFirstName()}"></td>
                        <td th:text="${ticket.getUserDetailTicket().getPassengerLastName()}"></td>
                        <td th:text="${ticket.getSchedule().getRoute().toString()}"></td>
                        <td th:text="${#dates.format(ticket.getSchedule().getDeparture(),'dd.MM.yyyy')}"></td>
                        <td th:text="${#dates.format(ticket.getPurchaseDate(),'dd.MM.yyyy')}"></td>
                        <td th:text="${ticket.getLuggage()}"></td>
                        <td th:text="${ticket.getPriorityRegistration()}"></td>
                        <td th:text="${ticket.getPriorityBoarding()}"></td>
                        <td th:text="${ticket.getTotalPrice()}"></td>


                        <td><a class="w3-button w3-black w3-hover-blue w3-round-large w3-tiny w3-padding-small"
                               th:href="@{/admin/ticket/{id}/delete(id=${ticket.id})}">Delete</a>
                            <a class="w3-button w3-black w3-hover-blue w3-round-large w3-tiny w3-padding-small"
                               th:href="@{/admin/ticket/{id}/edit(id=${ticket.id})}">Edit</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</header>

<th:block th:insert="fragments/footer.html :: footer"/>
<th:block th:insert="fragments/scripts.html :: script"/>
</body>
</html>